@charset "UTF-8";

main {}
article {
  width:180px;
  height:105px;
  padding-left:10px;
  border-top:dashed 1px black;
  page-break-inside:avoid;
}

article.l1{display:block;}
article.l2{display:block;}
article.l3{display:block;}
article.l4{display:none;}

section {
  margin-bottom: 5px;
  page-break-before: always;
}
section > header > h2 {
    margin: 0 0 0.5em;
    padding: 0.5em;
    border-top:2px solid #B92A2C;
    border-left: 20px solid #B92A2C;
    border-bottom: 1px double #B92A2C;
}
